<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SmokeTestsSuite" verbose="1">
    <test name="SmokeTests">
        <groups>
            <run>
                <include name="smokeTests" />
            </run>
        </groups>

        <classes>
            <class name="loginpagetests.PositiveLoginTests" />
            <class name="forgotpasswordpagetests.ForgotPasswordTests" />
            <class name="checkboxespagetests.CheckboxesTests" />
            <class name="dropdowntests.DropdownTests" />
            <class name="javascriptalertstests.JavaScriptAlertsTests" />
            <class name="contextmenutests.ContextMenuTests" />
        </classes>
    </test>
</suite>