<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Smoke Tests Suite" verbose="1" parallel="methods" thread-count="4">
    <test name="SmokeTests">
        <groups>
            <run>
                <include name="smokeTests" />
            </run>
        </groups>

        <classes>
            <class name="loginpagetests.PositiveLoginTests" />
            <class name="forgotpasswordpagetests.ForgotPasswordTests" />
            <class name="checkboxespagetests.CheckboxesTests" />
            <class name="dropdowntests.DropdownTests" />
            <class name="javascriptalertstests.JavaScriptAlertsTests" />
            <class name="contextmenutests.ContextMenuTests" />
            <class name="multiplewindowstests.MultipleWindowsTests" />
            <class name="frameeditortests.FrameEditorTests" />
            <class name="framestests.FramesTests" />
            <class name="keypressestests.KeyPressesTests" />
            <class name="fileuploadtests.FileUploadTests" />
            <class name="draganddroptests.DragAndDropTests" />
            <class name="hoverstests.HoversTests" />
            <class name="horizontalslidertests.HorizontalSliderTests" />
            <class name="javascriptscrollingtests.JavaScriptScrollingTests" />
        </classes>
    </test>
</suite>